
tests/nns/hinton_epochnr5.mat

tests/nns/hinton.eps

tests/nns/hinton.fig

tests/nns/hinton.png

tests/testout/hinton_epochnr5.mat

tests/testout/hinton.png

tests/testout/hinton.fig

tests/nns/plots.m

tests/nns/hinton_epochnr3000_my.mat

tests/nns/hinton_epochnr4800.mat

tests/nns/hinton_epochnr2800_my.mat

tests/nns/hinton_epochnr2700_my.mat

tests/nns/sae.eps

tests/nns/sae.fig

tests/nns/sae.png

tests/sae_mnist_test.m

tests/untitled.fig
